Package: com.brend0n.nopassafterrespringsafe
Name: NoPassAfterRespring (Safe)
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Disables passcode after a respring.
Maintainer: Brend0n <brendonjkding@126.com>
Author: Brend0n <brendonjkding@126.com>
Section: Tweaks
Depiction: https://brendonjkding.github.io/depictions/web/?p=com.brend0n.nopassafterrespringsafe
SileoDepiction: https://brendonjkding.github.io/depictions/native/com.brend0n.nopassafterrespringsafe/depiction.json
